{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wheel-of-Donations!</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


            <!-- jQuery Version 1.11.0 -->
    <script src="../static/js/jquery-1.11.0.js"></script>
    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>



    <!-- Custom CSS -->
    <link href="{% static 'css/stylish-portfolio.css' %}" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle" data-container="body" data-toggle="popover"
         data-placement="left" data-content='Click on "About" for more information!' data-trigger="hover"><i class="fa fa-navicon fa-2x"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>

            <li class="sidebar-brand">
                <a href="#top">Game of Donations</a>
            </li>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'about' %}">About</a>
            </li>
            <li>
                <a href="{% url 'wheel' %}">Spin the Wheel!</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">

            <br><br><br><br><br><br><
            <a href="{% url 'wheel' %}" class="btn btn-dark btn-lg" id="start" style="font-size: 30px; letter-spacing: 2px; line-height: 50px;"><p id="text">Start the Game!</p></a>



        </div>
    </header>

        <!-- /.container -->





    <!-- Footer -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-4  col-lg-4 text-center" style="background: #ffffff; border: 1px lightblue solid">
                    <h4><strong>Wheel of Donation</strong>
                    </h4>
                    <p>San Francisco<br>California</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (541)450-7111</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">Mollydiana@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Molly Carr 2014</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Put this in an external javascript file! -->
    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    $(function(){
        $('#start').hide();
        $('#start').fadeIn(5500);
        function run_animation($element, delay, duration) {
        $('#start').delay(delay).fadeToggle(duration, function () {
            run_animation($('#start'), delay, duration);
        });
    }
    run_animation($('#start'), 500, 500);
    run_animation($('#start'), 90, 90);
        });
$('#menu-toggle').popover();

    </script>
<object width="10" height="10" class="hark_player">
<param name="movie" value="http://cdn.hark.com/swfs/player_fb.swf?pid=rjmmqjpyrb&as=1"/>
<param name="volume" value="10%"/>
<param name="allowscriptaccess" value="always"/>
<param name="allownetworking" value="all"/>
<param name="wmode" value="transparent"/>
<embed src="http://cdn.hark.com/swfs/player_fb.swf?pid=rjmmqjpyrb&as=1" type="application/x-shockwave-flash" allowscriptaccess="always" allownetworking="all" width="300" height="28" wmode="transparent"></embed>
</object><br/>
<a href="http://www.hark.com/clips/rjmmqjpyrb-wheel-of-fortune-theme-song"></a>

</body>

</html>
