{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wheel-of-Donations!</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


            <!-- jQuery Version 1.11.0 -->
    <script src="../static/js/jquery-1.11.0.js"></script>
    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="{% static 'js/wheel.js' %}"></script>


    <!-- Custom CSS -->
    <link href="{% static 'css/stylish-portfolio.css' %}" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>



    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-navicon fa-2x"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
             <li class="sidebar-brand">
                <a href="#top">Game of Donations</a>
            </li>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                 <a href="{% url 'about' %}">About</a>
            </li>
            <li>
               <a href="{% url 'wheel' %}">Spin the Wheel!</a>
            </li>
        </ul>
    </nav>

    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span id="wheelfont">
                    <h2>YOU SPIN<h1 style="font-weight: bold; color: #ffff00;">EVERYONE WINS!</h1></h2>
                    <p class="lead">Feel good by doing good — Share your good fortune!</p>
                        <div id="venues" style="float: left; display: none">
                            <ul />
                        </div></span>
                        <div id="wheel" >
                            <canvas id="canvas" width="1000" height="600"></canvas>
                            <a href="" id="currentCharityLink" target="_blank" style="position: relative; width: 200px; bottom: 330px; color: #ffff00;font-size: 30px; left: 320px;">Current Charity</a>
                        </div>

{#                        <div id="stats">#}
{#                            <div id="counter"></div>#}
{#                        </div>#}
                </div>
            </div>
            <!-- /.row -->
        </div>
</section>



    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-4  col-lg-4 text-center" style="background: #ffffff; border: 1px lightblue solid">
                    <h4><strong>Wheel of Donation</strong>
                    </h4>
                    <p>San Francisco<br>California</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (541)450-7111</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">Mollydiana@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Molly Carr 2014</p>
                </div>
            </div>
        </div>
    </footer>



    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });


    </script>
<object width="0" height="0" style="visibility: hidden" class="hark_player">
<param name="movie" value="http://cdn.hark.com/swfs/player_fb.swf?pid=ghrvrmjswx&as=1"/>
<param name="allowscriptaccess" value="always"/>
<param name="allownetworking" value="all"/>
<param name="wmode" value="transparent"/>
<embed src="http://cdn.hark.com/swfs/player_fb.swf?pid=ghrvrmjswx&as=1" type="application/x-shockwave-flash" allowscriptaccess="always" allownetworking="all" width="300" height="28" wmode="transparent"></embed>
</object>
<a href="http://www.hark.com/clips/ghrvrmjswx-large-crowd-applause-5" style="visibility: hidden"></a>

<object width="0" height="0" style="visibility: hidden" class="hark_player">
<param name="movie" style="visibility: hidden" value="http://cdn.hark.com/swfs/player_fb.swf?pid=qnqzdklydm&as=1"/>
<param name="allowscriptaccess" style="visibility: hidden" value="always"/>
<param name="allownetworking" style="visibility: hidden" value="all"/>
<param name="wmode" style="visibility: hidden" value="transparent"/>
<embed src="http://cdn.hark.com/swfs/player_fb.swf?pid=qnqzdklydm&as=1" style="visibility: hidden" type="application/x-shockwave-flash" allowscriptaccess="always" allownetworking="all" width="300" height="28" wmode="transparent"></embed>
</object>
<a href="http://www.hark.com/clips/qnqzdklydm-crowdapplausecheer-pe774102" style="visibility: hidden" title="Listen to  on Hark.com"></a>



</body>

</html>
